.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  color: #000;
}

.divHide {
  display: none;
}

.text-success {
  background-color: green;
}

.blink-text {

  animation: blinkingText 2s infinite;
}

@keyframes blinkingText {

  0%,
  49% {
    background-color: #ffffff;
    color: #000;
  }

  50%,
  100% {
    background-color: red;
    color: #ffffff;
  }
}

.blink-text-success {
  /* color: #000; */
  animation: blinkingTextSuccess 2s infinite;
}

@keyframes blinkingTextSuccess {

  0%,
  49% {
    background-color: #ffffff;
    color: #000;
  }

  50%,
  100% {
    background-color: green;
    color: #fff;
  }
}


@media print {

  .no-print,
  .main-footer,
  .no-print * {
    display: none !important;
  }
}